# these configuration variables are used by npm run db:init command.
# It sets env variables for bitnami/postgresql container. Please see:
# https://github.com/bitnami/containers/blob/main/bitnami/postgresql/README.md#configuration

POSTGRESQL_DATABASE=database
POSTGRESQL_USERNAME=postgres
POSTGRESQL_PASSWORD=password

# Update according to: postgresql://<username>:<password>@<host>:<port>/<database>
DATABASE_URL=postgresql://postgres:password@localhost:5432/database


# port and host for the Fastify server
CUR_SERVER_PORT=7860
CUR_SERVER_HOST=0.0.0.0

# jwt
JWT_GENERATION_SECRET=this_should_be_a_very_long_secret_because_shorted_secrets_are_rejected
JWT_EXPIRES_IN=600000 # 10 minutes in milliseconds